# Public Environment
NEXT_PUBLIC_URL=https://chornplanet.com/
NEXT_PUBLIC_GA_TRACKING_ID

# MongoDB Configuration
MONGODB_URI
MONGODB_DATABASE
MONGODB_COLLECTION_USERS
MONGODB_COLLECTION_TASKS
MONGODB_COLLECTION_HOMEPAGE_CONTENT

# JWT
JWT_SECRET

# DATA
CHORN_DATA_URL
CONTENT_API_KEY

# AI
DEEPSEEK_API_KEY
DEEPSEEK_API_URL