.about-bottom-image {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  // fixing the icons disappears on the mobile device
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  // end of fixing the icons disappears

  .left {
    margin-top: 5px;
    margin-bottom: 0;

    .left-row {
      margin-bottom: 20px;
      display: flex;

      .about-icon-symbol {
        display: inline-block;

        a.linkedin {
          padding: 5px 8px;
          background-color: #007bb5;
          border-color: #007bb5;
          color: #ffffff;
        }

        a.whatsapp {
          padding: 5px 8px;
          background-color: #0cc143;
          border-color: #0cc143;
          color: #ffffff;
        }
      }

      .linkedin-text {
        padding-left: 10px;
      }

      .linkedin-text a:hover {
        color: #fd9b5f;
      }

      .icon {
        font-weight: 600;
        padding: 5px 8px;
        display: flex;
        align-items: center;
        gap: 0;

        background: linear-gradient(to right, #06c755, #0f91ff);
        color: white;
      }

      p {
        padding-left: 10px;
      }
    }
  }

  .right {

  }

  .single-row {
    margin-bottom: 0;
    margin-top: 20px;

    h2 {
      font-size: 1.2rem;
    }

    .left-row {
      margin-bottom: 2px;
      display: flex;

      .about-icon-symbol {
        display: inline-block;

        a.linkedin {
          padding: 5px 8px;
          background-color: #007bb5;
          border-color: #007bb5;
          color: #ffffff;
        }

        a.whatsapp {
          padding: 5px 8px;
          background-color: #0cc143;
          border-color: #0cc143;
          color: #ffffff;
        }
      }

      .linkedin-text {
        padding-left: 10px;
      }

      .linkedin-text a:hover {
        color: #fd9b5f;
      }

      .icon {
        font-weight: 600;
        padding: 5px 8px;
        display: flex;
        align-items: center;
        gap: 0;

        background: linear-gradient(to right, #06c755, #0f91ff);
        color: white;
      }

      p {
        padding-left: 10px;
      }
    }
  }
}

.about-contact {
  h2 {
  }

  .roles {

    .role {
      margin-top: 30px;

      h3 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 15px;

        span {
          font-size: 1rem;
          text-transform: unset;
          display: unset;
          margin-left: 10px;
          font-weight: normal;
          color: #333333;
        }
      }

      .item {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;

        .icon-container {

          .icon {
            font-weight: 600;
            padding: 5px 8px;
            width: 30px;
            display: flex;
            align-items: center;
            gap: 0;

            background: linear-gradient(to right, #06c755, #0f91ff);
            color: white;
          }
        }

        .label {
          width: 80%;
          display: flex;
          flex-wrap: wrap;
          margin-left: 10px;

          a:hover {
            color: #fd9b5f;
          }

          ul {
            margin-top: 15px;
            margin-left: -15px;
          }
        }
      }
    }
  }
}