html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  touch-action: manipulation; // allows taps/clicks but disables gestures like pinch zoom
  overscroll-behavior: none; // disables iOS/Android bounce on scroll edge
  scroll-behavior: smooth;
  user-select: none; // optional: prevent accidental text selection
  -webkit-user-drag: none; // prevent dragging elements on iOS/Safari
}

.main-container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; // smooth scrolling on iOS

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  touch-action: manipulation; // allows taps/clicks but disables gestures like pinch zoom
  overscroll-behavior: none; // disables iOS/Android bounce on scroll edge
  scroll-behavior: smooth;
  user-select: none; // optional: prevent accidental text selection
  -webkit-user-drag: none; // prevent dragging elements on iOS/Safari
}