// src/styles/x-color-style.scss

// font color
.x-orange-font {
  color: #fd9b5f !important;
}

.x-green-font {
  color: #06c755 !important;
}

.x-red-font {
  color: #f44336 !important;
}

.x-blue-font {
  color: #2196f3 !important;
}

.x-blue-go-font {
  color: #0ca6d1 !important;
}

.x-purple-font {
  color: #9c27b0 !important;
}

.x-pink-font {
  color: #e91e63 !important;
}

.x-teal-font {
  color: #009688 !important;
}

.x-yellow-font {
  color: #fbc02d !important;
}

.x-indigo-font {
  color: #3f51b5 !important;
}

.x-brown-font {
  color: #8d6e63 !important;
}

// background color

.x-orange-bg {
  color: #fd9b5f !important;
}

.x-green-bg {
  background: #06c755 !important;
}

.x-red-bg {
  background: #f44336 !important;
}

.x-blue-bg {
  background: #2196f3 !important;
}

.x-blue-go-bg {
  background: #0ca6d1 !important;
}

.x-purple-bg {
  background: #9c27b0 !important;
}

.x-pink-bg {
  background: #e91e63 !important;
}

.x-teal-bg {
  background: #009688 !important;
}

.x-yellow-bg {
  background: #fbc02d !important;
}

.x-indigo-bg {
  background: #3f51b5 !important;
}

.x-brown-bg {
  background: #8d6e63 !important;
}

// border color

.x-orange-border {
  border-color: #fd9b5f !important;
}

.x-green-border {
  border-color: #06c755 !important;
}

.x-red-border {
  border-color: #f44336 !important;
}

.x-blue-border {
  border-color: #2196f3 !important;
}

.x-blue-go-border {
  border-color: #0ca6d1 !important;
}

.x-purple-border {
  border-color: #9c27b0 !important;
}

.x-pink-border {
  border-color: #e91e63 !important;
}

.x-teal-border {
  border-color: #009688 !important;
}

.x-yellow-border {
  border-color: #fbc02d !important;
}

.x-indigo-border {
  border-color: #3f51b5 !important;
}

.x-brown-border {
  border-color: #8d6e63 !important;
}
