.x-icon-arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid #06c755;
  vertical-align: middle;
  margin-left: 4px;
  margin-top: 7px;

  &:hover {
    border-left-color: orange;
  }
}

.x-icon-arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #06c755;
  vertical-align: middle;
  margin-left: 4px;
  margin-top: 10px;
  transition: border-color 0.2s ease;

  &:hover {
    border-top-color: orange;
  }
}