// navbar
.navbar-container {
  font-family: 'Inter', 'Segoe UI', 'Helvetica Neue', sans-serif;
  background: linear-gradient(to right, #06c755, #0f91ff);
  color: #ffffff;
  padding-bottom: 30px;
  margin-bottom: 30px;

  @media (min-width: 1024px) {
    padding-top: 30px;
  }
}

// x-navbar1-only
// x-navbar1-only / .x-navbar2-container
// x-navbar1-only / .x-navbar2-container / horizontal-bar
// x-navbar1-only / .x-navbar2-container / .x-navbar2-only
// navbar1-only include dropdown
.x-navbar1-only {
  background-color: #f2f2f2;
  margin-right: 5px;
  margin-left: 5px;

  @media (min-width: 1024px) {
    background-color: unset !important;
  }

  a {
    padding: 10px 20px 10px 20px !important;
    color: #ffffff;
    font-size: 16px;
  }

  a.active, a:hover {
    background: white;
    color: #333333 !important;
  }

  &:hover, &:focus {
    background: white;
    color: #333333 !important;

    a {
      background: white;
      color: #333333 !important;
    }
  }
}

.x-navbar-label-container {
  display: flex;
  width: 100%;

  .x-label {
    width: 95%;
  }

  @media (min-width: 1024px) {
    width: 210px;
  }
}

// x-navbar1-only / .x-navbar2-container
.x-navbar2-container {
  display: block;
  position: absolute;
  z-index: 10;
  padding-top: 5px;
  background-color: #f2f2f2;

  a {
    background: white;
    color: #333333;
  }

  // navbar2 hover
  a:hover, a:active {
    color: white !important;
    background: linear-gradient(to right, #06c755, #0f91ff) !important;
  }
}

// x-navbar1-only / .x-navbar2-container / .x-navbar2-only
.x-navbar2-only {
  display: block;

  a {
    background: white;
    color: #333333;
  }

  a:hover, a:active {
    .x-navbar-label-container {
      background: linear-gradient(to right, #06c755, #0f91ff) !important;
      color: white !important;
    }
  }
}

// Navbar2 container contains x-navbar2-area and x-navbar3-only
//.x-navbar2-container {
//  position: relative;
//  z-index: 10;
//  padding-top: 5px;
//  background-color: #f2f2f2;
//
//  display: block;
//
//  a {
//    background: white;
//    color: #333333;
//  }
//
//  // navbar2 hover
//  a:hover, a:active {
//    color: white !important;
//    background: linear-gradient(to right, #06c755, #0f91ff) !important;
//  }
//
//  @media (min-width: 1024px) {
//    display: none;
//    position: absolute;
//    top: 52px;
//
//    li a {
//      padding-left: 25px !important;
//    }
//  }
//}

// Navbar2 include Navbar3
.x-navbar2-navbar3 {

  &:hover, &:focus {

    .x-navbar3-only {
      display: none;
    }

    @media (min-width: 1024px) {
      .x-navbar3-only {
        display: flex;
      }
    }
  }
}

// Navbar3 Area
.x-navbar3-only {
  top: 0;
  position: absolute;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;

  // size
  width: 300px !important;
  //position: relative;
  z-index: 10;
  margin-left: 250px;
  background: linear-gradient(to right, #0f91ff, #06c755);

  .x-navbar3-item-container {
    width: 30.5%;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #f2f2f2;
    margin: 4px;
    background-color: white;

    img {
      margin-bottom: 5px;
    }

    a.active {
      background: linear-gradient(to right, #0f91ff, #06c755) !important;
    }

    .x-navbar3-item {
      display: block;
      width: 100%;

      .label {
        margin-left: -10px;
      }

      a.active {
        background: linear-gradient(to right, #0f91ff, #06c755) !important;
      }

    }
  }
}

.x-is-frontend {
  top: 0 !important;
}

.x-is-backend {
  top: 50px !important;
}

.x-is-devops {
  top: 250px !important;
}