/* src/app/(food)/style/layout-desktop.scss */

.thai-text {
  font-family: 'JasmineUPC', 'Inter', sans-serif;
}

.desktop-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9fafb;
  color: #111827;
  font-family: 'JasmineUPC', 'Inter', sans-serif;
}

.desktop-navbar {
  color: #ffffff;
  background: linear-gradient(to right, #06c755, #0f91ff);
  border-bottom: 1px solid #e5e7eb;
  padding: 30px 2rem;
}

.desktop-navbar-container {
  width: 100%;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 1.25rem;
    font-weight: 700;
  }

  nav a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  nav a:hover {
    color: #111827;
  }

  @media (min-width: 1300px) {
    width: 80%;
    margin-left: 10%;
  }

  @media (min-width: 1920px) {
    width: 60%;
    margin-left: 20%;
  }
}

.desktop-main {
  flex: 1;
  padding: 2rem;
}

.desktop-main-container {
  width: 100%;
  margin-left: 0;

  @media (min-width: 1300px) {
    width: 80%;
    margin-left: 10%;
  }

  @media (min-width: 1920px) {
    width: 60%;
    margin-left: 20%;
  }
}

.desktop-footer {
  background-color: #0f171f;
  border-top: 1px solid #e5e7eb;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 0.875rem;
  color: #ffffff;
}

.desktop-footer-container {
  width: 100%;
  margin-left: 0;

  @media (min-width: 1300px) {
    width: 80%;
    margin-left: 10%;
  }

  @media (min-width: 1920px) {
    width: 60%;
    margin-left: 20%;
  }
}
