.middle-content {
  display: flex;
  margin-top: 30px;
}

.middle-left {
  width: 70%;
  //background-color: #0ca6d1;
  margin-right: 2.5%;
}

.middle-right {
  width: 27.5%;
  background-color: #0dcaf0;
}