.addition-border-none {
  border: none !important;
}

.addition-border-new {
  border: 1px solid #fbe4d4 !important;
}

.addition-ptb-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.addition-read-more {
  color: #fd9b5f;
}

.addition-social-line {
  background-color: #07b53b;
  border-color: #07b53b;
  color: #ffffff;
}

.addition-pt-0 {
  padding: 0 !important;
}

.addition-pt-20 {
  padding-top: 20px !important;
}

.addition-pb-20 {
  padding-bottom: 20px !important;
}

.addition-ptb-20 {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}

.addition-contact-info-box {
  height: 28vh;
}

.addition-img-icon {
  background-color: transparent !important;
}

.addition-footer-line {
  margin-top: -8px;
}

.addition-top-social-github {
  font-size: 25px;
}

.addition-top-social-gitlab {
  font-size: 25px;
  color: #f64c67;
}

.addition-top-social-linkedin {
  font-size: 25px;
  color: #3b5998;
}

.mr-10 {
  margin-right: 10px !important;
}

.hover-rotate {
  transition: transform .7s ease-in-out;
}

.hover-rotate:hover {
  transform: rotate(360deg);
}

@-webkit-keyframes rotating /* Safari and Chrome */
{
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.modal {
  pointer-events: none;
}

.modal-dialog {
  pointer-events: auto;
}

.modal-content {
  width: 100%;
  background-color: rgba(215, 215, 215, 0.9);
  position: fixed;
  bottom: 0;
  z-index: 999999;
  display: block;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 14px;
  border-radius: 0;

  @media (max-width: 1024px) {
    font-size: 13px;
  }

  @media (max-width: 576px) {
    font-size: 13px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.add-cookie-left {
  float: left;
  padding-left: 30px;
  padding-bottom: 10px;
  width: 80%;

  .logo {
    margin-right: 15px;
    float: left;
  }

  .text {
    padding-top: 15px;
  }

  @media (max-width: 1024px) {
    padding-left: 10px; // Adjust padding for smaller screens

    .text {
      padding-top: 15px;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    .text {
      padding-top: 0;
    }
  }
}

.add-cookie-right {
  float: right;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 10px;

  @media (max-width: 1024px) {
    padding-right: 10px; // Adjust padding for smaller screens
    padding-top: 10px;
  }

  @media (max-width: 576px) {
    padding-top: 0;
    padding-right: 0;
  }
}

.add-button {
  background-color: #00bffd;
  border-color: #00bffd;
  cursor: pointer; // Ensure the pointer changes on hover
  font-size: 13px;

  &:hover {
    background-color: #fd7e14; // Slight hover color change for feedback
    border-color: #fd7e14;
  }
}

.a-privacy {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer; // Ensure cursor changes on hover for links
  padding-left: 5px;

  &:hover {
    color: #0056b3; // Darker color on hover for feedback
  }
}